body {
    background-color: #f0f2f5;
}
.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.error {
    color: red;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 10px;
}

div{
    margin-top: 10px;
}